@import "../../styles/_variable";

.clientelle__container{
    height: 25vh;
    display: flex;
    align-items: center;
    width: 100%;

    @media (max-width: 551px) {
      display: none;
      padding: 6rem 0rem;
    }

    .clientelle__logo{
        display: flex;
        width: 40%;
        background: $background-gradient-main;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;

        img{
            height: 90px;
            width: 90px;
            object-fit: cover;
          
        }
    }

    .clientelle__logo__list{
        display: flex;
        width: 60%;
        background: $background-gradient-secondary;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        


        img{
            height: 90px;
            width: 90px;
            object-fit: cover;
            align-content: center;
           
        }
    }
}