$background-color-main: #EF1F0C; 
$background-color-hover: #f13524;
$background-color-light: #fde9e7; 
$white: #fff;
$white-passive: #808080;
$white-passive-link: #666666;
$black: #000;
$section-background:#F9F9F9;
$icon-black: #B1B1B1;
$dark-background: #252525;
$background-gradient-main: linear-gradient(to right, #ED140B, #FD6E36);
$background-gradient-secondary: linear-gradient(to right, #282828, #323232);
$button-background: #1F2C8C;