$background-color-main: #EF1F0C; 
$background-color-hover: #f13524;
$background-color-light: #fde9e7; 
$white: #fff;
$white-passive: #808080;
$white-passive-link: #666666;
$black: #000;
$section-background:#F9F9F9;
$icon-black: #B1B1B1;
$dark-background: #252525;