.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;

  .navbar__logo {
    .navbar__img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 3px;
    }
  }

  .navbar__menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-right: 20px;

    .navbar__item{
        cursor: pointer;
        color: white;
    }
  }
}
